/* Clean up Vite default styles */
.dashboard-card-icon {
  font-size: 36px;
  padding: 16px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.04);
}

.timeline-custom-dot {
  font-size: 16px;
}
